* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

form label {
  font-size: 1.2rem;
  font-weight: 400;
}

form input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid black !important;
}

form textarea {
  padding: 0.6rem;
}

@media (max-width: 560px) {
  html,
  body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
  }

  header {
    width: 100% !important ;
    height: 100% !important;
    padding: 0px !important;
    background-color: red !important;
  }

  nav ul {
    width: 100%;
    gap: 4rem !important;
    justify-content: center !important;
  }

  nav ul > li {
    font-size: 1.2rem;
    color: red;
  }

  /* Image */
  .after-header {
    width: 100% !important;
    justify-content: center;
  }
  .about {
    justify-content: center;
    width: 100%;
    margin: 1rem !important;
    height: 300px;
    gap: 1rem;
    padding-inline: 2rem;
  }

  .about p {
    width: 100%;
    text-align: justify;
  }

  .after-header {
    flex-direction: column !important ;
  }
  #project {
    padding: 1rem;
    gap: 0px;
  }
  #project h2 {
    font-size: 2rem;
  }

  .project-card-container {
    padding-top: -10px;
    width: 79%;
    flex-direction: column !important;
    align-items: center;
    row-gap: 1.8rem;
  }

  .project-card-container img {
    width: 250px;
    height: 300px;
  }
  .first-last-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    /* padding-block: 1rem; */
    /* width: 500px; */
    margin: 10px auto;
  }

  .form-container h2 {
    text-align: center;
  }
  .form-container form {
    align-items: center;
  }
  .form-container form input {
    width: 300px;
  }

  .text-area-container textarea {
    width: 300px;
  }
}
